*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header{
    height: 50px;
    background-color: black;
}

body{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#navbar{
    height: 20%;
    width: 30%;
    background-color: rgba(182, 178, 178, 0.853);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 20px auto 40px auto;
    text-align: center
}

#main{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.block {
    background-color: rgb(250, 152, 216);
    color: rgb(0, 0, 0);
    height: 180px;
    width: 200px;
    padding-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 350;
    line-height: 1.4rem;
    border-radius: 15px;
    border: 3px solid black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.block:hover {
    background-color: rgb(23, 182, 234);
    box-shadow: 6px 6px 15px rgb(255, 255, 255);
    transform: translateY(-20px);
}

.block:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* -----footer---- */

footer{
    padding-bottom: 10px;
    padding-top: 10px;
}

#portfolio {
    width: 40%;
    height: 50px;
    background-color:rgb(250, 152, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px; 
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: auto;
    user-select: none;
}

#portfolio:hover {
    background-color: rgb(23, 182, 234); 
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.);
    transform: translateY(-2px);
}

#portfolio:active {
    transform: scale(0.95);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.eswar{
    font-size: 1rem;
}

@media (max-width: 450px){
    #navbar{
        height: 60px;
        font-size: 1.2rem;
    }
    .block{
        height: 25%;
        width: 45%;
        font-size: 140%;
    }
}
